[submodule "components/QC8150"]
	path = components/QC8150
	url = https://github.com/WOA-Project/windows_silicon_qcom_hana
[submodule "components/QC8250"]
	path = components/QC8250
	url = https://github.com/WOA-Project/windows_silicon_qcom_kona
[submodule "components/QC8350"]
	path = components/QC8350
	url = https://github.com/WOA-Project/windows_silicon_qcom_lahaina
[submodule "components/Devices/OnePlus7"]
	path = components/Devices/OnePlus7
	url = https://github.com/woa-msmnile/windows_oem_oneplus_qc8150
